# Auto detect text files and perform LF normalization
* text=auto

# Ada source files
*.ads text eol=lf
*.adb text eol=lf
*.gpr text eol=lf

# Documentation
*.md text eol=lf
*.txt text eol=lf

# Scripts
*.sh text eol=lf
