# GitLab Pages for Wiki

pages:
  stage: deploy
  image: ruby:2.7
  script:
    - gem install gollum
    - mkdir -p public
    - cp -r * public/ || true
  artifacts:
    paths:
      - public
  only:
    - wiki
